{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Paisaje</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel est ad fuga possimus illum excepturi
            cupiditate officia error reprehenderit dolorum quisquam esse, illo amet fugiat consectetur id explicabo
            accusamus neque.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="assets/img/fondo.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}